{
    "environment": "",
    "databaseEngine": "",
    "databaseHost": "",
    "databasePort": "",
    "databaseName": "",
    "databaseUser": "",
    "databasePassword": "",

    "inMemoryUsername": "",
    "inMemoryPasswordHash": ""
}
